html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
a {
    text-decoration: none;
    color: unset;
}
.page {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #29B473;
    overflow: hidden;
    box-shadow: inset 0px 0px 20px 0px;
}
.main .margin {
    height: 100px;
}
.main {
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main .inner {
    position: relative;
}
.main .logo {
    display: flex;
    justify-content: center;
    width: calc(100vw - 20px);
    max-width: 970px;
    position: relative;
    padding-bottom: 50px;
    margin: 0 auto;
}
.main .logo .back {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 160px;
    min-width: 920px;
}
.main .logo .front {
    position: relative;
}
.main .sns-block {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.main .sns-block .sns-img {
    margin: 0px 20px 0px 20px;
}
.main .email {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main .sub-title {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 760px) {
    .main .logo .front {
        width: 60vw;
    }
    .main .logo .back img {
        width: 40vw;
    }
    .main .logo .back {
        min-width: 90vw;
        top: 20vw;
    }
}
@media screen and (max-width: 450px) {
    .main .sns-block .sns-img {
        width: 15vw;
        margin: 0px 4vw 0px 4vw;
    }
}

.sns-page {

}
.sns-page .inner {
    
}